// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
// Variables
@import 'variables';

@import "./global";

// // Bootstrap
// @import 'bootstrap/scss/bootstrap';


// Card match height
.match-height {
  > [class*='col'] {
    display: flex;
    flex-flow: column;

    > .card {
      flex: 1 1 auto;
    }
  }
}

body{
  scroll-behavior: smooth;
}
::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 5px;
  border-radius:20px;
}

/* Track */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.product-content img{
  max-width: 100% !important;
  width:100% !important;
}

// text editor style
.note-editing-area{
  background: #ffffff;
}

.note-editor.note-frame .note-editing-area .note-editable{
    height: 10rem;
}
.v-select{
    //border: 1px solid #e4e6ef;
    border-radius: 5px;
    padding: 6px 11px;
}
.vs__dropdown-toggle{
    border:none !important;
}

.sortable-handler {
    touch-action: none;
}

